/* стили для страницы catalog.html*/

/* стили для заголовка каталога*/
.catalog-header {
	height: 180px;
	margin-left: 20px;
	padding-left:60px;
	display: flex;
	flex-direction: column;
}
.breadcrumbs-header {
	font-family: "Gilroy", "Arial", serif;
	font-weight: 900;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
	padding: 0;
	margin: 40px 60px 40px;
}

.breadcrumbs {
	list-style: none;
	font-family: "Open Sans Light";
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.01em;
	display:flex;
	padding: 0;
	margin: 0 60px 45px;
}
.breadcrumbs a {
	color: rgba(0, 0, 0, 0.3);
	margin-right: 40px;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.goods {
	display: flex;
	background: #efefef; 
}
.catalog{
	display: flex;
	flex-direction: column;
	margin-left: 72px;
}
.column-header{
	display: flex;
	background-color: rgba(0, 0, 0, 0.08);
	margin-bottom: 40px;
}
.column-header h3{
	font-family: "Gilroy", "Arial", serif;
	font-size: 16px;
	font-weight: 900;
	line-height: 24px;
	text-transform : uppercase;
	letter-spacing: 0.2em;
	margin:0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.column-header ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.column-header a{
	color: rgba(0, 0, 0, 0.3)
}
.column-header a:hover,
.column-header a:focus {
	color: rgba(0, 0, 0, 0.6);
}
.column-header a:active{
	color: rgba(0, 0, 0, 1);
}
/* стили для фильтра*/
.filter {
	width: 420px;
	padding-left: 80px;
	background-color: #eeeeee; 
}
.filter fieldset {
	border: 0;
}
.filter ul {
	list-style: none;
	padding: 0;
}
.filter-value {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
}
.filter-category {
	font-family: "Gilroy", "Arial", serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: black;
}

.filter-category:before {
	content: "";
	width: 200px;
	height: 2px;
	background-color: black;
	display: block;
	margin: 0;
	margin-bottom: 10px;
}

.catalog-sorting {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 18px;
}

.filter-show {
	border: 0;
	font-family: "Gilroy", "Arial", serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 0.2em;
	text-transform : uppercase;
	color: black;
	width:220px;
	height:40px;
	text-align:center;
	background-color: transparent;
	background-image: linear-gradient(
        to bottom,
        transparent 16px,
		rgb(240, 197, 46) 16px,
		rgb(240, 197, 46) 24px,
        transparent 24px
    );
}
.filter-show:hover {
	background-color: rgb(240, 197, 46);
	background-image: none;
}

.filter-show:active {
	color: rgba(0, 0, 0, 0.3);
	background-image: none;
	background-color: rgb(240, 197, 46);
}

/* стили для товаров*/
.product-cards{
	list-style: none;
	margin:0;
	padding:0;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-card {
	position: relative;
}
.product-card-description {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card-name {
	font-family: "Gilroy", "Arial", serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	max-width: 260px;
}
.card-name a{
	color: black;
}

.card-cost {
	font-family: "Gilroy";
	font-weight:300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
}

.sticker-new {
	font-family: "Gilroy", "Arial", serif;
	font-weight: 900;
	font-size: 14px;
	line-height: 56px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: rgba(0, 0, 0, 0.2);
	position: absolute;
	right: 30px;
	top: 30px;
	height: 56px;
	width: 56px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 56px;
	
}
/* стили для паджинатора*/
.pagination {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.08);
	margin-bottom: 77px;
	padding: 0;
	align-items: stretch;
}
.pagination a {
	display: block;
	font-family: "Gilroy", "Arial", serif;
	font-weight: 900;
	font-size: 16px;
	text-transform : uppercase;
	letter-spacing: 0.2em;
	padding: 25px 10px;
	vertical-align: middle;
}

.pagination .move-pages {
	width: 126px;
	text-align: center;
	color: black;
}
.pagination .move-pages:hover { 
	background-color: #d9d9d9;
}
.pagination .move-pages:active { 
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}
.pagination-pages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
}
.pagination-pages a{
	color: rgba(0, 0, 0, 0.3)
}
.pagination-pages a:active{
	color: black;
}